%ul{style:'width: 600px;'}
  - @point_histories.each do |point_history|
    %li
      %ul{style: 'display:flex;justify-content: space-between;'}
        %li= l(point_history.date, format: :date_time)
        - if point_history.type == "PointPurchaseHistory"
          %li ポイント購入
        - elsif point_history.type == "PointBuyHistory"
          %li 商品購入
        - elsif point_history.type == "PointSellHistory"
          %li 商品売却
        %li= "#{point_history.point}point"
