.container
  - if user_signed_in?
    %ul.list-group
      %li.list-group-item= link_to 'Mypage', mypage_path
    %h2 商品一覧
    %ul.list-group
      - @items.each do |item|
        %li.list-group-item= link_to "#{item.name}", item_path(item)
