%h2
公開中
- @sale.each do |item|
  .item-box
    %ul
      %li= link_to "#{item.name}", item_path(item.id)
%h2
下書き
- @draft.each do |item|
  .item-box
    %ul
      %li= link_to "#{item.name}", item_path(item.id)
      